/* /* section {
    margin-bottom: 6.25rem;
}

.carosel {
    min-height: auto;

    width: 100%;
}

.slide-item {
    width: 100%;
    background-color: #FCEAE8;
    height: auto;
    padding: 20px 40px;
    display: grid;
    justify-content: left;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.slide-item p {
    font-size: 1rem;
    font-weight: 400;
 } */
section {
    margin-bottom: 6.25rem
}

.pink-bg {
    background-color: #FCEAE8;
    border-radius: 10px;

}

.carousel-item {
    padding: 20px 40px
}

.price {
    color: #FF136F
}

.buy-now-button {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    border: none;
    color: white;
    padding: 9px 25px;
    border-radius: 8px;
    cursor: pointer;
}

.cat-1 {
    background: linear-gradient(45deg, orange, #ffa5008c);
}

.cat-2 {
    background-color: orchid;
}

.cat-3 {
    background-color: blue;
}

.cat-1,
.cat-2,
.cat-3 {
    padding: 10px 30px;
    border-radius: 10px
}

.categories h1 {
    color: white
}

.categories img {
    width: 100px;
    transition: 0.51s all ease-in;

}

.bag-category {
    overflow: hidden;
}

.bag-category img {
    transition: 0.51s all ease-in;

}

.bag-category img:hover {
    transform: scale(1.52);
}

.categories img:hover {
    transform: scale(2)
}

.card {
    border: none;
    box-shadow: 0px 5px 20px 0px lightgray;
    height: 100%;
}

.card-footer {
    border: none;
    background-color: white;
}

.subscribe-container {
    background-color: #FCEAE8;
    height: 300px;
}

.subscribe-container h6 {
    color: grey
}

footer {
    text-align: center;
}